.profileBody{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.items{
    display: flex;
    position: absolute;
    top: 20%;
}

.items a{
    font-size: 1em;
}
.items a:hover{
    text-decoration: underline;
}