.profile-body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}


.userData{
    display: flex;
    position: absolute;
    top: 15%;
}
.items{
    display: flex;
    position: absolute;
    top: 30%;
}

.items a{
    font-size: 1em;
}
.items a:hover{
    text-decoration: underline;
}