.main_container{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.profile_name{
    top: 17%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_container{
    top: 25%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_container div{
    width: 30em;
    margin: 0.3em 0;
}

.profile_container .button{
    margin-bottom: 10em;
}

