.section{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}  

.section form, input, textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 68%;
    padding: 12px 5px;
    margin: 10px auto;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.section .container .title{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}
.section .container .title h1{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

