.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title{
    top: 20%;
    position: absolute;
}
.title h1{
    font-size: 2em;
}
/*  */
.titleForEditIssue{
    position: absolute;
    top: 25%;
}

.titleForEditIssue h1{
    font-size: 2em;
}


.textField{
    top: 28%;
    position: absolute;
}

.textField div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34em;
    margin: 0.2em 0;
}

@media only screen and (max-width: 980px) {
    .textField div{
        width: 25em;
    }
}

@media only screen and (max-width: 550px) {
    .textField div{
        width: 18em;
    }
    .titleForEditIssue h1{
        font-size: 1.4em;
    }
}


