.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title{
    top: 20%;
    position: absolute;
}
.title h1{
    font-size: 2em;
}

.textField{
    top: 28%;
    position: absolute;
}

.textField div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34em;
    margin: 0.2em 0;
}


