.issueContainer{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    position: absolute;
    top: 7em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.heading h1{
    font-size: 2em;
}

.heading .search{
    margin-left: 39em;
    position: absolute;
    height: 20px;
}

.tableContainer{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    margin-top: 7em;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table thead{
    background-color: burlywood;
}

.table thead tr th{
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.35px;
    padding: 0.5em;
    vertical-align: top;
    border: 1px solid;
}

.table tbody tr td{
    background-color: azure;
    font-weight: normal;
    padding: 8px;
    text-align: center;
    border: 1px solid;
}
.table tbody tr td a:hover{
    text-decoration: underline;
}

.gap{
    margin-bottom: 80%;
}

@media only screen and (max-width: 1200px) {
    .heading .search{
        margin-left: 27em;
    }
}
@media only screen and (max-width: 930px) {
    .heading .search{
       display: none;
    }
}
@media only screen and (max-width: 800px) {
    .heading h1{
        font-size: 1.5em;
    }
    .table thead tr th{
        font-size: 1.3em;
    }
    .tableContainer{
        top: 8%;
    }
}

@media only screen and (max-width: 565px) {
    .heading h1{
        font-size: 1.3em;
    }
    .table thead tr th{
        font-size: 1.2em;
        vertical-align: left;
        text-align: left;
    }
    .tableContainer{
        top: 6%;
    }
    .gap{
        margin-bottom: 100%;
    }
    .table{
        border-collapse: collapse;
    }
    .table tbody tr td{
        padding: 3px;
    }
}

