.mainIssue{
    width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.mainIssue .issueHeader{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    top: 15%;
}

.mainIssue .issueDetails{
    position: absolute;
    top: 25%;
    left: 0;
    margin-top: 2em;
}


@media only screen and (max-width: 485px) {
    .mainIssue .issueHeader{
        display: block;
    }
}
