.mainIssue{
    width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.mainIssue .issueHeader{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0;
    top: 15%;
}

.mainIssue .issueDetails{
    position: absolute;
    top: 25%;
    left: 0;
    margin-top: 2em;
}