.parent{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent .child1{
    top: 30%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent .child1{
    font-size: 2em;
}

.parent .child2{
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 10em;
}