.form-container{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up{
    padding-bottom: 30px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-left: -16%;
}

/* media */
@media (max-width:1368px) {
    .form-container {
        padding-top: 130px;
    }
    .button-container{
        margin-left: 160px;
    }
    .login-text{
        margin-bottom: 100px;
        margin-left: -10%;
    }
}

@media (max-width:1108px) {
    .button-container{
        margin-left: 60px;
    }
}
@media (max-width:750px) {
    .button-container{
        margin-left: 30px;
    }
}
