.container{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.signup{
    top: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer{
    top: 27%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer div{
    width: 30em;
    margin: 0.3em 0;
}
/* .formContainer .button{
    width: 30em;
    margin: 0.3em 0;
} */

.loginText{
    display: inline-flex;
    margin-top: 3em;
}

.loginText a{
    margin-left: 20px;
    text-decoration: underline;
    font-size: 1em;
    font-weight: 400;
}
.loginText a:hover{
    text-decoration: none;
}
