.main_container{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sign-up{
    top: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container{
    top: 27%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container div{
    width: 30em;
    margin: 0.3em 0;
}

.login-text{
    display: inline-flex;
    margin-top: 3em;
}

.login-text a{
    margin-left: 20px;
    text-decoration: underline;
    font-size: 1em;
    font-weight: 400;
}
.login-text a:hover{
    text-decoration: none;
}
